/* Game.css */
* {
    padding: 0;
    margin: 0;
  }
  
  body, html {
    height: 100%;
  }
  
  .main-container {
    position: relative;
    width: 100%;
    height: 100%;
  }
  
  .background-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
  
  .background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../assets/backgroundcute.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 100;
  }
  
  .main-interface {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    overflow: auto;
  }
  
  .top-panel {
    width: 100vw;
    height: 80vh;
    display: flex;
    flex-direction: row;
    overflow: auto;
    box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.2);
    border: 1px solid orange;
  }
  
  .bottom-panel {
    width: 100vw;
    height: 20vh;
    border: 1px solid navy;
  }
  
  .bottom-panel-inside {
    width: 100%;
    height: 100%;
    align-content: center;
    background-image: url(../assets/dialogue-box-empty.png);
    background-size: 500px 150px;
    /* background-size: contain; */
    background-repeat: no-repeat;
    background-position: center;
    overflow: auto;
    border: 1px solid red;
  }
  
  button {
    z-index: 200;
    background-color: red;
    color: red;
  }
