/* Interface.css */
.interface-display {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    width: 75vw;
    /* border: 1px solid blue; */
    height: 100%;
}

.pet-display {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: transparent; /* Clear background */
    padding: 20px;
    height: 80vh;
    /* border: 1px solid pink; */
  }
  
  .pet-display h1 {
    margin-bottom: 20px;
  }
  
  video {
    width: 80%; /* Adjust the size of the video */
    max-width: 400px; /* Maximum width for responsiveness */
    border: 1px solid #ccc; /* Add a border for visibility */
    border-radius: 10px; /* Optional: Add border-radius for rounded corners */
  }
  
  .dialog-box {
    
    width: 100%;
    height: 20vw;
    /* new section, adjust width as needed */
    

    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    border: 1px solid red;
  }
  
  .pet-name {
    font-family: PressStart2P;
    font-size: 2rem;
    margin-left: -3rem;
  }
