.button-display {
    display: flex;
    flex-direction: column;
    gap: 10px; /* Adjust the gap between buttons as needed */
    margin-top: 1rem;
  }
  
  button {
    font-family: PressStart2P;
    /* border: 3px solid red; */
    border: none;
    padding: 10px;
    height: 15vh;
    font-size: 15px;
    padding-left: 90px;
    padding-right: 50px;

    background-image: url(../assets/optionsbox.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;

    background-color: transparent;
    cursor: pointer;
    
  }
  
  button:hover {
    transform: translateY(-5px);
  }

  .option-main{
    width: 60vw;
  }
