.stat-bar {
    padding-top: 3rem;
    width: 60rem;
    height: 35rem;

    align-content: center;
    background-image: url(../assets/statbox.png);
    background-size: contain;

    background-repeat: no-repeat;
    background-position: center;
    overflow: visible;
    box-sizing: border-box;
    /* border: 3px solid blue; */
    opacity: 0.75;
}
