.parent {
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
}

.background {
    box-sizing: border-box;
    padding: 2rem;
    padding-top: 2.25rem;
    width: 52rem;
    height: 10rem;
    align-content: center;
    background-image: url(../assets/dialogue-box-empty.png);
    background-size: 850px 150px;
    /* background-size: contain; */
    background-repeat: no-repeat;
    background-position: center;
    overflow: visible;
}

.text {
    font-family: PressStart2P;
    font-size: 1.25rem;
}
